<section class="section">
    <div class="container">
        <div class="row">
            <h2 class="center-align">Acessórios</h2>
        </div>

        <div class="row">
            {% for product in site.acessorios limit: 3 %}
                <div class="slicker col s12 l4">
                    <div class="card hoverable center sticky-action grey-text lighten-4">
                        <div class="card-image">
                            <img src="{{ product.image }}" alt="{{ product.title }}">
                        </div>
                        <div class="card-content">
                            <strong>{{ product.title }}</strong> <em>{{ product.price }} MZN</em>
                        </div>
                        <div class="card-action">
                            <a href="mailto:{{ site.email }}" class="btn-large waves-effect waves-light" title="Encomende Já!"><i class="fa fa-shopping-cart"></i> Encomende Já!</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">{{ product.title }}</span>
                            {{ product.description }}
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>

        <div class="row">
            <div class="center">
                <a href="/acessorios" class="btn-large waves-effect waves-light">Veja Mais</a>
            </div>
        </div>
    </div>
</section>