<section class="section grey lighten-4">
    <div class="container">
        <div class="row">
            <h4 class="center-on-small-only">
                <a href="/acessorios" title="Acessórios">Acessórios</a>
            </h4>
        </div>
        <div class="row">
            {% for item in site.acessorios reversed limit: 3 %}
                {% include grid-loop.html %}

                {% else %}
                    <h4>Sem produtos</h4>
            {% endfor %}
        </div>
    </div>
</section>