<section class="section grey lighten-4">
    <div class="container">
        <div class="row">
            <h2 class="center-on-small-only">
                <a href="/calcados" title="Calçados">Calçados</a>
            </h2>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme owl-nav center">
                {% for item in site.calcados reversed limit: 12  %}
                    {% include carousel-loop.html %}

                    {% else %}
                        <div class="center">
                            <h3>Sem Produtos</h3>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>