<section class="section grey lighten-4">
    <div class="container">
        <div class="row">
            <h4 class="center-on-small-only">
                <a href="/fatos" title="Fatos Para Noivos">Fatos Para Noivos</a>
            </h4>
        </div>
        <div class="row">
            {% for item in site.fatos_noivos reversed limit: 3 %}
                {% include grid-loop.html %}

                    {% else %}
                        <h4>Sem produtos</h4>
            {% endfor %}
        </div>
    </div>
</section>