<footer class="page-footer white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h3>Localize-nos</h3>
                
                <ul>
                    <li>Av. Mao Tsé Tung nº 1490</li>
                    <li>Maputo - Moçambique</li>
                    <li>Cel: +258 84 395 5483 / 82 978 1878</li>
                    <li>Email: <a href="mailto:{{ site.email }}" title="Email" class="white-text">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="col s12 l4">
                <h3>Contacte-nos</h3>
                
                {% include social.html %}
            </div>

            <div class="col s12 l4">
                <h3>Menu</h3>
                <ul>
                    {% for item in site.data.nav %}
                    <li {% if item.link == page.url %} class="active" {% endif %}>
                        <a href="{% if page.layout == "page" %}/{% elsif page.layout == "portfolio" %}/{% endif %}{{ item.link }}" title="{{ item.name }}" class="white-text {% if item.highlight %}modal-trigger{% endif %}">{{ item.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="center">&copy; {{ site.time | date: "%Y" }} {{ site.title }} Powered by <a href="http://izitag.site" rel="author" title="IZItag" class="white-text">IZItag</a></div>
        </div>
    </div>
</footer>