<nav>
    <form action="">
        <div class="input-field">
            <input type="search" id="search" required>
            <label for="search" class="label-icon"><i class="fa fa-search"></i></label>
        </div>
    </form>
</nav>

<aside id="sideNav" class="side-nav fixed">
    <div class="container">
        <a href="/" title="{{ site.title }}">
            <img src="{{ site.image }}" alt="{{ site.title }}">
        </a>
    </div>
    <div class="divider"></div>
    <ul>
        {% include nav.html %}
    </ul>
</aside>