<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper hide-on-med-and-up">
            <div class="container">
                <a href="/" title="{{ site.title }}" class="brand-logo">DDN</a>
                <a href="#" data-activates="sideNav" class="button-collapse"><i class="fa fa-2x fa-navicon"></i></a>
            </div>
        </div>

        <div class="nav-content">
            <form action="">
                <div class="input-field">
                    <input type="search" id="search" required>
                    <label for="search" class="label-icon"><i class="fa fa-search"></i></label>
                </div>
            </form>
        </div>
    </nav>
</div>

<aside id="sideNav" class="side-nav fixed">
    <div class="container">
        <a href="/" title="{{ site.title }}">
            <img src="{{ site.image }}" alt="{{ site.title }}">
        </a>
    </div>
    <div class="divider"></div>
    <ul>
        {% include nav.html %}
    </ul>
</aside>