<section id="opnioes" class="section scrollspy">
    <div class="container">
        <div class="center">
            <i class="fa fa-5x fa-commenting"></i>
            <h2>Opniões</h2>
            
            <div class="row">
                {% for opinian in site.data.opiniao %}
                    <div class="col s12 l4">
                        <p>{{ opinian.opiniao }}</p>
                        <p class="flow-text">{{ opinian.nome }}</p>
                        <p class="flow-text">{{ opinian.cargo }}</p>
                        <p class="flow-text"><a href="{{ opinian.site }}" title="{{ opinian.empresa }}">{{ opinian.empresa }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>