<section id="portfolio" class="section">
    <div class="container">
        <h2 class="center-align">Galeria</h2>
        <div class="row">
            <div id="masonry-grid">
                    <div class ="col s12 l4">
                        <img src="/uploads/2017/10/16/37.jpg" alt="vestidos" class="materialboxed">
                    </div>
                
                    <div class ="col s12 l4">
                        <img src="/uploads/2017/10/16/36.jpg" alt="vestidos" class="materialboxed">
                    </div>
                
                    <div class ="col s12 l4">
                        <img src="/uploads/2017/10/16/30.jpg" alt="vestidos" class="materialboxed">
                    </div>
            </div>
        </div>

        <div class="row center">
            <a href="/portfolio/vestidos" class="btn-large waves-effect waves-light" title="Portfólio de Vestidos">Veja Mais</a>
        </div>
    </div>
</section>