<section class="section">
    <div class="container">
        <div class="row">
            <h2 class="center-on-small-only">
                <a href="/vestidos" title="Vestidos de Noivas">Vestidos de Noivas</a>
            </h2>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme owl-nav center">
                {% for item in site.vestidos_noivas limit: 12 %}
                    {% include carousel-loop.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>