<section class="section">
    <div class="container">
        <div class="row">
            <h4 class="center-on-small-only">
                <a href="/vestidos_cerimonias" title="Vestidos de Cerimoniais">Vestidos de Cerimoniais</a>
            </h4>
        </div>
        <div class="row">
            {% for item in site.vestidos_cerimonias reversed limit: 3 %}
                {% include grid-loop.html %}

                {% else %}
                    <h4>Sem produtos</h4>
            {% endfor %}
        </div>
    </div>
</section>